<template>

    <div class="book-add-component">
        <div class="container">
            <div class="col-lg-3 my-4 fs-20">Книги
                <i class="fas fa-angle-right fs-20"></i>
                <small>Добавить</small>
            </div>
            <div class="col-lg-10">
                <form :action="urlAction" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="_token" :value="csrf">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" name="title" class="form-control" id="bookName" placeholder="Название книги">
                        </div>
                    </div>
                    <br>
                    <div class="row pl-0">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-outline-secondary" @click.prevent="addAuthor()">Добавить автора</button>
                        </div>
                    </div>
                    <br>
                    <div class="row" v-for="(item, key) in authors" :key="key" style="margin-top: 10px">
                        <div class="col-lg-1 author_key">{{ key + 1}}</div>
                        <div class="col-lg-3">
                            <select  class="custom-select col-lg-12" name="author_exist[]" v-model="item.id" :disabled="item.author_new_checkbox == true">
                                <option disabled value="default">Авторы</option>
                                <option v-for="value in existAuthors" :value="value.id">{{ value.name }}</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-check my-2">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="author_new_checkbox" @click.prevent="newAuthor(item)" :checked="item.author_new_checkbox == true">
                                    Новый автор
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="author_new[]" placeholder="Имя,фамилия нового автора" :disabled="item.author_new_checkbox == false">
                        </div>

                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-secondary" style="margin: 0 0 0 30px" @click.prevent="delAuthor(item, key)">Удалить</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <select class="custom-select col-lg-12" name="category_id">
                                <option selected disabled="">Категория</option>
                                <option v-for="value in existCategory" :value="value.id">{{ value.title }}</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="bookPages" placeholder="Количество страниц" name="pages">
                        </div>

                        <div class="col-lg-5">
                            <select class="custom-select col-lg-12" name="year">
                                <option selected disabled>Год издания</option>
                                <option v-for="n in 18" :value="year">{{ year - n }}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" id="bookDescription" rows="3" placeholder="Описание книги" name="description"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="file_image">Изображение</label>
                                <input type="file" class="form-control-file" id="file_image" name="file_image">
                            </div>

                            <div class="form-group">
                                <label for="file_book">Файл с книгой</label>
                                <input type="file" class="form-control-file" id="file_book" name="file_book">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-2 offset-lg-10">
                            <button type="submit" class="btn btn-outline-secondary">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        name: "book-add-component",

        data() {
            return {
                authors: [
                    {
                        id: 'default',
                        author_new_checkbox: false
                    }
                ],
                year: [new Date().getFullYear()],
                csrf: "",
            }
        },

        computed: {

            // Формирование ссылки для формы
            urlAction() {
                return '/book/store';
            }
        },

        props: [
            'exist-authors',
            'exist-category',
        ],

        methods: {

            // Добавление автора

            addAuthor() {
                this.authors.push(
                    {
                        id: 'default',
                        author_new_checkbox: false
                    }
                );
                console.log('Добавлен автор - ' + (this.authors.length - 1));
            },

            // Удаление автора

            delAuthor(item, key) {
                if(this.authors.length > 1) {
                    console.log('Удален автор - ' + item.name);
                    this.authors.splice(key, 1);
                } else {
                    console.log('Нельзя удалять единственного автора')
                }
            },

            // Изменение статуса checkbox

            newAuthor(item) {
                item.author_new_checkbox = !item.author_new_checkbox;
            },

            // Функцию, которая добавляет авторов книги в массив authors

            addExistAuthors() {
                this.currentBook[0].author.forEach((val)=>{
                    this.authors.push(
                        {
                            id: val.id,
                            author_new_checkbox: false
                        }
                    );
                });
            }
        },

        mounted() {

            // CSRF токен для laravel

            this.csrf = document.head.querySelector('meta[name="csrf-token"]').content;
        }

    }
</script>
