<template>

    <div class="book-edit-component">
        <div class="container">
            <div class="col-lg-3 my-4 fs-20">Книги
                <i class="fas fa-angle-right fs-20"></i>
                <small>Редактирование</small>
            </div>
            <div class="col-lg-10">
                <form :action="urlAction" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="_token" :value="csrf">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" name="title" class="form-control" id="bookName" v-for="book in currentBook" :value="book.title">
                        </div>
                    </div>
                    <br>

                    <!-- Авторы -->
                    <div class="row pl-0">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-outline-secondary" @click.prevent="addAuthor()">Добавить автора</button>
                        </div>
                    </div>
                    <br>
                    <div class="row" v-for="(author, key) in authors" :key="key" style="margin-top: 10px">
                        <div class="col-lg-1 author_key">{{ key + 1}}</div>
                        <div class="col-lg-3">
                            <select  class="custom-select col-lg-12" name="author_exist[]" v-model="author.id" :disabled="author.author_new_checkbox == true">
                                <option disabled value="default">Авторы</option>
                                <option v-for="value in existAuthors" :value="value.id">{{ value.name }}</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-check my-2">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="author_new_checkbox" @click.prevent="newAuthor(author)" :checked="author.author_new_checkbox == true">
                                    Новый автор
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="author_new[]" placeholder="Имя,фамилия нового автора" :disabled="author.author_new_checkbox == false">
                        </div>

                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-secondary" style="margin: 0 0 0 30px" @click.prevent="delAuthor(author, key)">Удалить</button>
                        </div>
                    </div>
                    <!-- /Авторы -->

                    <br>
                    <div class="row">

                        <!-- Категория -->
                        <div class="col-lg-4" v-if="currentBook[0].category_id">
                            <select class="custom-select col-lg-12" name="category_id" v-model="currentBook[0].category_id">
                                <option selected disabled="">Категория</option>
                                <option v-for="category in existCategory" :value="category.id">{{ category.title }}</option>
                            </select>
                        </div>

                        <div class="col-lg-4" v-else>
                            <select class="custom-select col-lg-12" name="category_id">
                                <option selected disabled="">Категория</option>
                                <option v-for="category in existCategory" :value="category.id">{{ category.title }}</option>
                            </select>
                        </div>
                        <!-- /Категория -->

                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="bookPages" placeholder="Количество страниц" name="pages" :value="currentBook[0].pages">
                        </div>

                        <div class="col-lg-5">
                            <select class="custom-select col-lg-12" name="year" v-model="currentBook[0].year">
                                <option selected disabled>Год издания</option>
                                <option v-for="year in years" :value="year">{{ year  }}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" id="bookDescription" rows="3" placeholder="Описание книги" name="description">{{currentBook[0].description}}</textarea>
                            </div>

                            <div class="form-group">
                                <label for="file_image">Изображение</label>
                                <input type="file" class="form-control-file" id="file_image" name="file_image">
                            </div>

                            <div class="form-group">
                                <label for="file_book">Файл с книгой</label>
                                <input type="file" class="form-control-file" id="file_book" name="file_book">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-3 offset-lg-9">
                            <button type="button" class="btn btn-outline-success" v-on:click="linkToBack">Отмена</button>
                            <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "book-edit-component",
        data() {
            return {
                authors: [],
                years: [],
                csrf: "",
            }
        },
        computed: {

            // Формирование ссылки для формы
            urlAction() {
                return '/book/update/' + this.currentBook[0].id ;
            }
        },
        props: [
            'current-book',
            'exist-authors',
            'exist-category',
        ],
        methods: {

            // Добавление автора
            addAuthor() {
                this.authors.push(
                    {
                        id: 'default',
                        author_new_checkbox: false
                    }
                );
                console.log('Добавлен автор - ' + (this.authors.length - 1));
            },

            // Удаление автора
            delAuthor(author, key) {
                if(this.authors.length > 1) {
                    console.log('Удален автор - ' + author.name);
                    this.authors.splice(key, 1);
                } else {
                    console.log('Нельзя удалять единственного автора')
                }
            },

            // Изменение статуса checkbox
            newAuthor(author) {
                author.author_new_checkbox = !author.author_new_checkbox;
            },

            // Функцию, которая добавляет авторов книги в массив authors
            addExistAuthors() {
                this.currentBook[0].author.forEach((val) => {
                    this.authors.push(
                        {
                            id: val.id,
                            author_new_checkbox: false
                        }
                    );
                });
            },

            // Ссылка на страницу назад
            linkToBack() {
                window.location.href = '/book/detail/' + this.currentBook[0].id;
            }
        },
        mounted() {

            // CSRF токен для laravel
            this.csrf = document.head.querySelector('meta[name="csrf-token"]').content;

            // Вызываю функцию, которая добавляет авторов книги в массив authors
            if (this.currentBook[0].author.length > 0) {
                this.addExistAuthors();
            } else {
                this.authors.push(
                    {
                        id: 'default',
                        author_new_checkbox: false
                    }
                );
            }

            // Создаю массив с годами, для select

            for ( var year =  new Date().getFullYear(), i = 1; i <= 19; year--, i++) {
                this.years.push(year);
            }
        }
    }
</script>
