<template>

    <div class="main-page-component">
        <div class="container content">
            <div class="col-lg-12">
                <div class="form-inline">
                    <input type="text" class="col-lg-10 form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="search" v-model="searchData" @change="search" placeholder="Название книги или автор" >
                    <button class="col-lg-1 col-md-2 btn btn-outline-secondary" :click="searchData">Поиск</button>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-3 portfolio-item" v-for="(book, key) in books">

                    <div class="card h-100 text-center" v-if="(books.length > 0 && !searchFail)">
                        <div class="label">
                            <div class="label_q" v-if="book.queue">
                                <img src="/images/icons/queue.png" title="В очереди"/>
                            </div>
                            <div class="label_q" v-if="compareDate(book.created_at)">
                                <img src="/images/icons/new.png" title="Добавлена сегодня"/>
                            </div>
                        </div>
                        <a :href="'/book/detail/'+ book.id">
                            <img class="card-image" :src="'/images/photos/'+book.image">
                        </a>
                        <div class="card-body text-left">
                            <div class="card-book-title fs-16">
                                <a :href="'/book/detail/'+book.id">
                                    {{ book.title }}
                                </a>
                            </div>
                            <p class="card-author">
                                <a :href="'/author/'+author.id" v-for="author in book.author">{{ author.name }}<br></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center search-fail" v-if="(books.length < 1 && searchFail)">Ничего не найдено!</div>
                <div class="col-lg-12 text-center search-fail" v-if="(books.length < 1 && !searchFail)">Библиотека пустая!</div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';

    export default {

        name: "main-page-component",

        created() {
            this.books = this.values
        },

        data() {
            return {
                books: [],
                date: new Date(),
                searchData: '',
                searchFail: false
            }
        },

        methods: {

            // Обнуление массива с книгами и помещение в него результатов поиска.

            replaceArray(value) {
                this.books = [];
                for(var i = 0; i < value.length; i++){
                    // this.books[i].push({value});
                    console.log(value[i]);
                    this.books[i] = value[i];
                }
            },

            // Метод для сравнения даты когда была создана книга и даты сегодня.
            // Если книга создана сегодня, то помечаем ее стикером.

            compareDate(created_at) {
                var dateDB = this.formatDate(created_at);
                var dateToday = this.formatDate(new Date());
                if (dateDB == dateToday) {
                    return true
                }
                return false
            },

            // Функция для перевода переданной даты в формат год-месяц-день(2018-04-12), без времени.
            // При необходимости добавляются 0 перед числом меньше 10.

            formatDate(date) {
                var year,month,day,fullDate;

                year = new Date(date).getFullYear();
                if (new Date(date).getMonth() + 1 < 10) {
                    month = '0' + (new Date(date).getMonth() + 1);
                } else {
                    month = new Date(date).getMonth() + 1;
                }
                if (new Date(date).getDate() + 1 < 10) {
                    day = '0' + new Date(date).getDate();
                } else {
                    day = new Date(date).getDate();
                }
                fullDate = year+'-'+month+'-'+day;
                return fullDate;
            },

            // Запрос на поиск книг.Обязательно нужен CSRF токен!

            search() {
                axios.defaults.headers.common['csrfToken'] = document.head.querySelector('meta[name="csrf-token"]').content;
                axios.post('/search', { search: this.searchData }).then(response => {
                    if (response.data.length < 1) {
                        this.searchFail = true;
                    }
                    this.replaceArray(response.data);
                });
            }
        },

        props: [
            'values',
        ]

    }
</script>
