.fs-10 {font-size: 10px}
.fs-11 {font-size: 11px}
.fs-12 {font-size: 12px}
.fs-13 {font-size: 13px}
.fs-14 {font-size: 14px}
.fs-15 {font-size: 15px}
.fs-16 {font-size: 16px}
.fs-17 {font-size: 17px}
.fs-18 {font-size: 18px}
.fs-19 {font-size: 19px}
.fs-20 {font-size: 20px}
.card-image {
    height: 280px;
    width: 200px;
}
.queue-image {
    height: 150px;
    width: 100px;
}
.queue-order {
    color: #a1a1a1;
    font-size: 200px;
    margin: -70px 0 -70px 0;
}
.card-book-title {
    color: #525252;
    font-style: italic;
    height: 50px;
}
.detail-book-title {
    color: #525252;
    font-style: italic;
}
.card-author {
    color: #a1a1a1;
    font-size: 16px;
    font-weight: bold;
}
.author_key,
.category_key {
    color: #7b7b7b;
    font-size: 25px;
    font-weight: 600;
}
.author_name,
.category_name {
    font-size: 16px;
    margin-top: 5px;
}
.author_action,
.category_action {
    font-size: 20px;
    margin-top: 5px;
}
.author_edit,
.category_edit {
    color: #cccccc;
    margin-right: 15px;
}
.author_edit:hover,
.category_edit:hover {
    color: #000;
    margin-right: 15px;
}
.author_delete,
.category_delete {
    color: #cccccc;
}
.author_delete:hover,
.category_delete:hover {
    color: #000;
}
.label {
    float: right;
    height: 45px;
    position: absolute;
    width: 100%;
}
.label_q {
    float: right;
    height: 40px;
    margin-right: 5px;
    position: relative;
    right: 20px;
    width: 40px;
    z-index: 2;
}
.footer {
    background-color: #343a40;
    bottom: 0;
    /*height: 100px;*/
    position: relative;
    width: 100%;
}
.content {
    min-height: 1000px;
}
.footer_link > a {
    color: rgba(255, 255, 255, 0.7) !important;
}
.footer_link > a:hover {
    color: #ffffff !important;
}

.search-fail {
    font-family: Roboto, serif;
    font-size: 14px !important;
}
.action_row {
    margin-top: 45px;
}
.message_for_demo {
    background-color: #ffffff;
    border: 2px solid #c1e2b3;
    height: 200px;
    position: absolute;
    z-index: 12;
}
.right_col {
    text-align: right;
}
.amount_title {
    color: rgba(255, 255, 255, 0.7);
    float: left;
    font-size: 16px;
    margin: 15px 0 0 30px;
}
.amount_books {
    color: #fff;
    float: right;
    font-size: 30px;
}

.error_list {
    font-size: 14px;
    list-style-type: none;
}

.last-export {
    font-size: 14px;
    margin-top: 10px;
}